[Unit]
Description=Add SSH signing key to agent
After=ssh-agent.service
Requires=ssh-agent.service

[Service]
Type=oneshot
Environment="SSH_AUTH_SOCK=%t/ssh-agent.socket"
ExecStart=/usr/bin/ssh-add /home/{{ .chezmoi.username }}/.ssh/github_key

[Install]
WantedBy=default.target

